<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <%- include("partials/head") %>
  <script>
    function pintarResultats(){
        const output = document.getElementById('output');
        output.textContent = "hola"+codi.toString();
    }
  </script>
</head>

<body>
  <!-- HEADER -->
  <%- include("partials/navigationbackend") %>

    <!-- My Content -->
    <main class="container pt-2 text-center d-flex justify-content-center align-items-center vh-100">
      <section>
        <h3>Contenido del archivo:</h3>
        <pre id="output" name="output">Resultats</pre>
        <button class="buttonSal" onclick="pintarResultats()">Resultats</button>
        <p>Carrergar revisions desde <%=fitxer %></p>
        <button class="buttonSal" onclick="window.close()">Tancar</button>
      </section>
    </main>
    <!-- FOOTER -->
    <%- include("partials/footer") %>
</body>

</html>