<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include("partials/head") %>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <!-- HEADER -->
    <%- include("partials/navigationbackend") %>
    <!-- My Content -->
        <main class="container pt-2 text-center justify-content-center align-items-center vh-100" style="auto">
        <section>
          <h2 class="display-1">Estat Carretons</h2>
          <table class="table table-bordered fons" width="100%" cellspacing="0">
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Aula</th>
              <th>Estat</th>
              <th>Stock</th>
            </tr>
            <% data.forEach(function(dat){ %>
            <tr>
              <td><%= dat.id_car %></td>
              <td><%= dat.nom %></td>
              <td><%= dat.nom_aula %></td>
              <td><%= dat.estat %></td>
              <td><%= dat.num_ord %></td>
              <%  }); %>
            </tr>
          </table>
        </section>
      </main>
</body>
</html>