<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <%- include("partials/head") %>
  <script>
    function myFunction(text) {
      //document.getElementById("demo").innerHTML = text;
      document.getElementById("demo").value = text
    }
  </script>
</head>

<body onload="myFunction('Hola soy Juan \n tengo una bicicleta \n y me voy con mis amigos a jugar \n al futbol')">
  <!-- HEADER -->
  <%- include("partials/navigationbackend") %>

  <!-- My Content -->
  <main class="container pt-2 text-center justify-content-center align-items-center vh-100">
    <h2 class="display-1">Càrrega de Revisions</h2></br>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <textarea id="codi" name="codi" rows="4"
        cols="50">Carregades revisions desde fitxer: <%=fitxer %> <%= codi %> Resultats i errors:(<%= results %>) -- (<%= errors %>)</textarea>
      <button id="btnSurt" name="btnSurt" type="button" onclick="window.close()">Tancar</button>
      <textarea id="demo"></textarea>
    </div>
  </main>
  <!-- FOOTER -->
  <%- include("partials/footer") %>
</body>

</html>