<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <%- include("partials/head") %>
</head>

<body>
  <!-- HEADER -->
  <%- include("partials/navigationbackend") %>
  <!-- My Content -->
  <main class="container pt-2 text-center justify-content-center align-items-center vh-100" style="auto">
    <section>
      <h2 class="display-1">Horari setmanal de revisions</h2>
      <table class="table table-bordered" width="100%" cellspacing="0">
        <tr>
          <th>Cicle</th>
          <th>Aula</th>
          <th>Professor//a</th>
          <th>Dia setmana</th>
          <th>Hora</th>
          <th>Realitzada</th>
          <th>Tipus</th>
        </tr>
        <% data.forEach(function(dat){ %>
        <tr>
          <td><%= dat.cicle %></td>
          <td><%= dat.aula %></td>
          <td><%= dat.profe %></td>
          <td><%= dat.dia %></td>
          <td><%= dat.hora %></td>
          <td><%= dat.realitzada %></td>
          <td><%= dat.tipus %></td>
          <%  }); %>
        </tr>
      </table>
    </section>
  </main>
</body>

</html>